# Dependencies
node_modules/

# Build outputs
dist/
dist-ssr/
output/
.vite_cache/

# Env
.env
*.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# IDE stuff
.vscode/*
!.vscode/extensions.json
.idea

# OS trash
.DS_Store
Thumbs.db

# Image build output
public/images/optimized/

# History
history/*.json